<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
	/>
	<title>感知网数据治理及数据中台</title>
	<link rel="icon" href="<%= htmlWebpackPlugin.files.favicon%>" type="image/x-icon" />
	<link href="./node_modules/amis/lib/themes/default.css" />
</head>
<body>
<noscript>请启用JavaScript</noscript>
<div id="root">
</div>
</body>
</html>
